<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between w-100">
            <a class="navbar-brand" href="#">
                <b><h1 style="font-size: 1.5rem;">PawsApplause</h1></b>

            </a>
            <div class="mx-4">
                <form class="d-flex mb-0">
                    <span class="px-1 py-0 border border-secondary fs-3 me-3">
                        <i class="fa-solid fa-plus"></i>
                </form>
            </div>

            <div class="d-flex align-items-center">
                <i class="fa-solid fa-house fs-3 me-3"></i>

             
            </span>

                    <i class="fa-solid fa-bell fs-3"></i>

                    <div class="ms-3">
                        <img src="/static/vendors/images/justinProfile.png" class="profileImage">
                    </div>
            </div>
        </div>
    </div>
</nav>