<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="d-flex align-items-center justify-content-between w-100">
            <a class="navbar-brand" href="#">
                <img src="/static/vendors/images/instaLogo.png" class="instaLogo">
            </a>
            <div class="mx-4">
                <form class="d-flex mb-0">
                    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                </form>
            </div>

            <div class="d-flex align-items-center">
                <i class="fa-solid fa-house fs-3 me-3"></i>
                <i class="fa-solid fa-paper-plane fs-3 me-3"></i>
                <span class="px-1 py-0 border border-secondary fs-3 me-3">
            <i class="fa-solid fa-plus"></i>
        </span>
                <i class="fa-solid fa-compass fs-3 me-3"></i>
                <i class="fa-solid fa-heart fs-3"></i>

                <div class="ms-3">
                    <img src="justinProfile.png" class="profileImage">
                </div>
            </div>
        </div>
    </div>
</nav>